.hero {
  position: relative;
  height: 100vh;
  padding-top: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media all and (max-width: 800px) {
    padding-top: 30px;
  }

  @media all and (max-width: 650px) {
    height: 600px;
    padding-top: 25px;
  }

  &__inner {
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      margin: 0;
      margin-bottom: 110px;

      @media all and (max-width: 1080px) {
        font-size: 72px;
        margin-bottom: 88px;
      }

      @media all and (max-width: 800px) {
        font-size: 52px;
        margin-bottom: 57px;
      }

      @media all and (max-width: 515px) {
        font-size: 42px;
        flex-direction: column;
      }
    }
  }

  &__title {
    height: 70px;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Raleway";
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 70px;
    color: #06caf8;
    --hue: 0;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: hsl(var(--hue), 50%, 95%);
    text-shadow: 0 0 15px hsl(var(--hue), 60%, 90%, 0.8),
      0 0 20px hsl(var(--hue), 70%, 80%, 0.85),
      0 0 40px hsl(var(--hue), 80%, 70%, 0.9),
      0 0 60px hsl(var(--hue), 90%, 60%, 0.95),
      0 0 80px hsl(var(--hue), 100%, 50%, 1);

    @media all and (max-width: 1080px) {
      font-size: 62px;
    }

    @media all and (max-width: 800px) {
      font-size: 52px;
      height: 104px;
    }

    @media all and (max-width: 485px) {
      font-size: 42px;
      height: 84px;
    }
  }

  &__name {
    letter-spacing: 5px;
    text-align: center;
    margin: 0;
    margin-right: 15px;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 60px;
    color: #06caf8;
    --hue: 0;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: hsl(var(--hue), 50%, 95%);
    text-shadow: 0 0 15px hsl(var(--hue), 60%, 90%, 0.8),
      0 0 20px hsl(239.67deg 70% 80% / 85%),
      0 0 40px hsl(184.29deg 80% 70% / 90%),
      0 0 60px hsl(152.64deg 90% 60% / 95%),
      0 0 80px hsl(var(--hue), 100%, 50%, 1);
    @media all and (max-width: 1080px) {
      font-size: 55px;
    }

    @media all and (max-width: 800px) {
      font-size: 45px;
    }

    @media all and (max-width: 485px) {
      font-size: 40px;
      margin-right: 0;
      margin-bottom: 25px;
      -webkit-text-stroke-width: 1px;
    }
  }

  &__description p {
    margin: 0;
    max-width: 485px;
    line-height: 30px;
    font-family: "Lato";
    font-weight: 500;
    font-size: 22px;
    color: #f3f3f3;

    @media all and (max-width: 1080px) {
      font-size: 20px;
      max-width: 395px;
    }

    @media all and (max-width: 800px) {
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      max-width: 355px;
    }

    @media all and (max-width: 485px) {
      font-size: 16px;
      line-height: 21px;
    }

    &:nth-child(2) {
      margin-bottom: 84px;

      @media all and (max-width: 1440px) {
        margin-bottom: 82px;
      }

      @media all and (max-width: 1080px) {
        margin-bottom: 65px;
      }

      @media all and (max-width: 800px) {
        margin-bottom: 41px;
      }
    }
  }

  &__btn {
    cursor: pointer;
    font-family: "Raleway";
    font-weight: 600;
    font-size: 22px;
    color: #f2f2f2;
    padding: 16px 36px;
    background: radial-gradient(
      142.65% 2282.99% at 100% -31.65%,
      #00c9fc 0%,
      #1a46ef 56.36%
    );
    border-radius: 4px;

    &:hover {
      background: radial-gradient(
        142.65% 2282.99% at 100% -31.65%,
        #08a6ce 0%,
        #6352b1 43.75%,
        #8b0eb7 68.75%
      );
    }

    @media all and (max-width: 1440px) {
      padding: 25px 49px;
    }

    @media all and (max-width: 1080px) {
      padding: 25px 37px;
    }

    @media all and (max-width: 800px) {
      font-size: 18px;
      padding: 12px 33px;
    }

    @media all and (max-width: 485px) {
      font-size: 16px;
      padding: 12px 37px;
    }

    @media all and (max-width: 320px) {
      padding: 15px;
    }
  }

  &__arrow {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 66px;
    cursor: pointer;
    background-image: url("/img/hero-arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
    animation: bounde 1.5s ease-in-out infinite;
    @media all and (max-width: 1080px) {
      bottom: 66px;
    }
  }
}

@keyframes bounde {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}
