.contact {
  padding-top: 90px;
  padding-top: 70px;

  &__left {
    width: 100%;
    max-width: 400px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__inner {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;

    @media all and (max-width: 1080px) {
      flex-direction: column;
    }
  }

  &__text {
    margin: 10px 0;
    max-width: 500px;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #f2f2f2;

    &:nth-child(4) {
      margin-bottom: 30px;
    }

    @media all and (max-width: 1080px) {
      font-size: 20px;
      line-height: 26px;
    }

    @media all and (max-width: 800px) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 67px;
    max-width: 154px;
    position: relative;

    &__text {
      font-family: "Raleway";
      font-weight: 600;
      font-size: 24px;
      color: #ffffff;
    }

    &__arrow {
      position: absolute;
      top: 15px;
      left: -22px;
    }

    &__border {
      margin-top: 17px;
      display: block;
      height: 2px;
      background: linear-gradient(
        89.99deg,
        #00d1ff 0%,
        rgba(255, 34, 141, 0) 100%
      );
    }
  }
}
