.game {
  margin: 10px auto;
  max-width: calc(100vw - 20px);
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backButton {
  padding: 10px 20px;
  background-color: #00d1ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.resetButton {
  padding: 10px 20px;
  background-color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.carScene {
  width: 100%;
  height: 100%;
}
